<app-navbar> </app-navbar>
<div class="board" cdkDropListGroup>
  <div class="column" *ngFor="let list of board" [style.backgroundColor]="list.color">
    <h3>{{ list.title }}</h3>

    <div
      class="card-list"
      cdkDropList
      [cdkDropListData]="list.cards"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="card" *ngFor="let card of list.cards" cdkDrag>
        {{ card }}
      </div>
    </div>

    <button class="add-card" (click)="addCard(list)">+ Add a card</button>
  </div>
</div>