/* styles.css (GLOBAL CSS) */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #5b247a, #1bcedf);
  font-family: Arial, sans-serif;
}

app-root {
  display: block;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
